<form [formGroup]="form" (submit)="createPerson()">
  <div>
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" />
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="tel" formControlName="phone" id="phone" />
  </div>
  <button type="submit">Create</button>
</form>
<hr />
<h1>List of persons</h1>
@for(person of persons; track person){
<p>{{ person.name }} - {{ person.email }} - {{ person.phone }}</p>
}
